[submodule "omoponfhir-omopv5-jpabase"]
	path = omoponfhir-omopv5-jpabase
	url = https://github.com/omoponfhir/omoponfhir-omopv5-jpabase.git
	branch = master
[submodule "omoponfhir-omopv5-stu3-mapping"]
	path = omoponfhir-omopv5-stu3-mapping
	url = https://github.com/omoponfhir/omoponfhir-omopv5-stu3-mapping.git
	branch = master
[submodule "omoponfhir-stu3-server"]
	path = omoponfhir-stu3-server
	url = https://github.com/omoponfhir/omoponfhir-stu3-server.git
	branch = master
